<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Link to Region ID</label>
    <div class="col-sm-10">
        <input type="text" ng-model="movie.region_id" class="form-control" id="title" placeholder="Movie Title Here"/>
    </div>
</div>
<div class="form-group">
    <label for="year" class="col-sm-2 control-label">Street Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="movie.street" class="form-control" id="year" placeholder="When was the movie released?"/>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">House number</label>
    <div class="col-sm-10">
        <input type="text" ng-model="movie.house" class="form-control" id="director" placeholder="Who directed the movie?"/>
    </div>
</div>

<div class="form-group">
    <label for="plot" class="col-sm-2 control-label">Map longitude</label>
    <div class="col-sm-10">
        <input type="text" ng-model="movie.longitude" class="form-control" id="plot" placeholder="Movie genre here"/>
    </div>
</div>


<div class="form-group">
    <label for="map2" class="col-sm-2 control-label">Map latitude</label>
    <div class="col-sm-10">
        <input type="text" ng-model="movie.latitude" class="form-control" id="map2" placeholder="Movie genre here"/>
    </div>
</div>
<div class="form-group">
    <label for="sta" class="col-sm-2 control-label">Status</label>
    <div class="col-sm-10">
        <input type="text" ng-model="movie.status" class="form-control" id="sta" placeholder="Movie genre here"/>
    </div>
</div>
<div class="form-group">
    <label for="hour" class="col-sm-2 control-label">Is hour in exploitation</label>
    <div class="col-sm-10">
        <input type="text" ng-model="movie.exploitation" class="form-control" id="hour" placeholder="Movie genre here"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>